body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: burlywood;
  background-image:url(https://www.freecodecamp.org/news/content/images/size/w2000/2021/06/w-qjCHPZbeXCQ-unsplash.jpg) ;
}

header {
  text-align: left;
}
form {
  text-align: center;
  
}
h1{
  color: rgb(13, 13, 94);
  text-align:left;
  font-size: 30px;
  font-weight: 500;
  line-height: 28px;

}

h2,h3 {
  color: blue;
  text-align: center;
  font-size: 36px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  padding: 0;
}





section {
  text-align: left;
}

span {
  text-align: left;
}

footer,p {
   font-size: 25px;
  padding-left: 20px;
  padding-top: 40px;
  color: #101886;
  text-align: center;
}


.app{
  border: 1px solid ;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 700px;
}
